@import "tailwindcss";

body {
  background: #030e14;
  color: #ffffff;
}

* {
  @apply duration-300 transition-all ease-in-out;
  outline: 1px solid red;
}

button {
  cursor: pointer;

  :disabled {
    cursor: not-allowed;
    opacity: 80%;
  }
}

.homepage-hero-bg {
  background-image: url("../public/homepage-hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.why-enet-bg {
  background-image: url("../public/why-enet-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.mw {
  max-width: 1440px;
  margin: 0 auto;
}

.cybersecyrity-bg {
  background-image: url("../public/cybersecyrity-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.colour-card {
  background: linear-gradient(
    96.79deg,
    #171717 -62.94%,
    #323335 -62.92%,
    rgba(90, 90, 90, 0) 54.42%,
    #171717 174.24%
  );
}

.testimonials-bg {
  background-image: url("../public/testimonials-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.cta-bg {
  background-image: url("../public/cta-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 518px;
  width: 1280px;
  border-radius: 20px;
}
